aiofiles==23.1.0
aiogram @ https://github.com/aiogram/aiogram/archive/refs/heads/dev-3.x.zip#sha256=ad2f7bf0685937a4b047e105991f3dda3f295e647c0a1c7dfbf8724b71305c7c
aiohttp==3.8.5
aiosignal==1.3.1
annotated-types==0.5.0
APScheduler==3.10.4
async-timeout==4.0.3
attrs==23.1.0
Babel==2.9.1
certifi==2023.7.22
charset-normalizer==3.2.0
frozenlist==1.4.0
idna==3.4
magic-filter==1.0.11
multidict==6.0.4
pydantic==2.2.1
pydantic_core==2.6.1
python-dotenv==1.0.0
pytz==2023.3
six==1.16.0
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==5.0.1
yarl==1.9.2
